<% if @user %>
  <li>
    <%= link_to @user, '#' %>
  </li>
  <li>
    <%= link_to '退出', destroy_user_session_url, :method=>'delete' %>
  </li>
<% else %>
  <li class="dropdown">
    <%= link_to new_user_session_url, class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
      登录<span class="caret"></span>
    <% end -%>
    <div id="dropdown-login" class="dropdown-menu" style="padding: 5px 10px 0px 10px;">
      <%= form_for("user", :url => user_session_url) do |f| %>
        <div class="control-group">
          <div class="form-group">
            <%= f.text_field :login, placeholder: '邮箱/手机号码/用户名', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, placeholder: '密码', class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>
              <%= f.check_box :remember_me %>记住我
            </label>
            <%= f.submit "登录", :class => "btn btn-primary pull-right" %>
          </div>
            <div class="clearfix"></div>
        </div>
        <%= link_to new_user_session_url, id: 'login_more' do %>
          使用微博、QQ、百度等帐号登录
        <% end -%>
      </div>
    <% end -%>
  </li>
  <li>
    <%= link_to '注册', new_user_registration_url %>
  </li>
<% end %>
<script type="text/javascript">
  // Prevent closing the sign in form on click
  $('#dropdown-login').click(function(e) {
    e.stopPropagation();
  });
</script>
