<div class="panel panel-default">
  <div class="panel-heading">
    <div class="col-xs-9 panel-title-inline">
      <%= link_to joke.title, joke %>
    </div>
    <div class="pull-right col-xs-3 text-right panel-title-inline">
      <%= joke.name %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <% if joke.is_video? %>
      <p class="text-center">
        <embed src="<%= joke.to_youku_player_url %>" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
      </p>
    <% elsif joke.is_image? %>
      <div class="text-center">
        <%= image_tag 'loading_bar.gif', class:'lazy img-responsive center-block', 'data-original' => joke.imgurl, alt: joke.title %>
      </div>
      <%#<div class="text-center">%>
        <%#= image_tag joke.imgurl, class:'img-responsive'  %>
      <%#</div>%>
    <% end -%>
    <p>
      <% if joke.is_long? %>
        <%= strip_tags(joke.text).block(300) %> [<%= link_to '查看全文', joke %>]
      <% else %>
        <%= joke.text.html_safe %>
      <% end -%>
    </p>
  </div>
  <div class="panel-footer">
    <div class="share pull-left">
      <%= render "layouts/share", joke: joke %>
    </div>
    <!-- <div class="pinglun">
        <%= link_to '评论', joke %>
      </div> -->
    <div class="pull-right"><%= joke.created_at %></div>
    <div class="clearfix"></div>
  </div>
</div>
