<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to joke.name, joke %>
  </div>
  <div class="panel-body">
    <% if !joke.imgurl.blank? and joke.imgurl != '0' %>
      <p class="text-center">
        <%= image_tag joke.imgurl %>
      </p>
    <% end -%>
    <p> <%= joke.tags.include?('长篇') ? link_to(strip_tags(joke.text).block(300), joke) : joke.text %> </p>
  </div>
  <div class="panel-footer">
    <div class="share pull-left">
      <%= render "layouts/share", plus: " data=\"{'url':'#{joke_url(joke)}'}\"" %>
    </div>
    <!-- <div class="pinglun">
        <%= link_to '评论', joke %>
      </div> -->
    <div class="pull-right"><%= joke.created_at %></div>
    <div class="clearfix"></div>
  </div>
</div>
