<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <%= content_tag 'li',class: action_name == 'short' ? 'active' : '' do -%>
      <%= link_to '短篇笑料', short_path %>
    <% end -%>
    <%= content_tag 'li',class: action_name == 'long' ? 'active' : '' do -%>
      <%= link_to '长篇笑料', long_path %>
    <% end -%>
    <%= content_tag 'li',class: action_name == 'image' ? 'active' : '' do -%>
      <%= link_to '有图有真相', image_path %>
    <% end -%>
    <%= content_tag 'li',class: action_name == 'video' ? 'active' : '' do -%>
      <%= link_to '视频笑料', video_path %>
    <% end -%>
  </ul>
</div>
