<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <%= content_tag 'li',class: action_name == 'short' ? 'active' : '' do -%>
      <%= link_to '短篇笑料', short_path %>
    <% end -%>
    <%= content_tag 'li',class: action_name == 'long' ? 'active' : '' do -%>
      <%= link_to '长篇笑料', long_path %>
    <% end -%>
    <%= content_tag 'li',class: action_name == 'image' ? 'active' : '' do -%>
      <%= link_to '有图有真相', image_path %>
    <% end -%>
    <%= content_tag 'li',class: action_name == 'video' ? 'active' : '' do -%>
      <%= link_to '视频笑料', video_path %>
    <% end -%>
    <%= content_tag 'li',class: action_name == 'download' ? 'active' : '' do -%>
      <%= link_to '应用下载', download_path %>
    <% end -%>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <%= render_cell :layouts, :login, user: current_user %>
  </ul>
</div>
