<div class="text-center">
  <%= ad(:sidebar_first) %>
</div>
<!--cnzz tui-->
<script  type="text/javascript" c=gd  charset="utf-8"  src="http://tui.cnzz.net/cs.php?id=1000062995"></script>
<!--cnzz tui-->
<div class="text-center">
  <%= ad(:sidebar_second) %>
</div>
<%= render "layouts/shorts_recent" %>
<%= render "layouts/comments_recent" %>
<div class="text-center">
  <%= ad(:sidebar_third) %>
</div>
<%= render "layouts/visitors_recent" %>
