<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags(default_meta_tags) %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <main role="main">
      <div class="container">
         <div class="row">
           <div class="col-md-8">
             <%= render 'layouts/messages' %>
             <%= yield %>
           </div>
           <div class="col-md-4">
             <%= render "layouts/sidebar" %>
           </div>
         </div>
      </div>
    </main>
    <%= render "layouts/after" %>
  </body>
</html>
